/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Bitter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(230, 165, 118);
  min-height: 100vh;
  background-image: url(/my-vite-project/public/assets/pexels-andrea-davis-3653849.jpg);
  padding: 0 35px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  background: rgb(255, 218, 185);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  margin-left: 40px;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: rgb(255, 255, 255);  
  font-weight: 300;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(230, 165, 118);
  transition: .5s;
} 

.navbar a:hover::before {
  width: 100%;

}

h1 {
  font-family: 'Bitter', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: white;
  height: 200px;
  width: 200px;
  clip-path: circle(50% at 50% 50%);
  text-align: center;
  line-height: 200px;
  background-color: rgb(255, 204, 188); /* Persika */
}

.rainbow-effect {
  transition: background-color 5s;
  cursor: pointer;
  max-width: 500px;

  &:hover {
    animation: rainbow-animation 10s infinite;
  }
}

@keyframes rainbow-animation {
  0% { background-color: rgb(255, 204, 188); } 
  16.67% { background-color: rgb(255, 192, 203); } 
  33.33% { background-color:  rgb(201, 134, 157); } 
  50% { background-color: rgb(250, 190, 189); } 
  66.67% { background-color: rgb(255, 218, 185); } 
  83.33% { background-color: rgb(255, 192, 203); }
  100% { background-color: rgb(221, 135, 164); } 
}

.gallery .gallery-container {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.material-symbols-outlined {
  height: 46px;
  width: 46px;
  line-height: 46px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  background: white;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gallery {
  max-width: 1200px;
  position: relative;
  margin-top: 50px;
}

.gallery .material-symbols-outlined:first-child {
  left: -23px;
}

.gallery .material-symbols-outlined:last-child {
  right: -23px;
}

.gallery-container img {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100%/3);

}

.gallery-container img:first-child {
  margin-left: 0px;

}

@media  screen and (max-width: 900px) {
  .gallery-container img {
    width: calc(100%/2);
  }
}

@media  screen and (max-width: 550px) {
  .gallery-container img {
    width: calc(100%);
  }
}
